<div layout="row" flex layout-align="center center">
  <che-panel che-title="Developer Mode Login" flex="50">
    <ng-form name="loginDeveloperForm">

      <che-input che-form="loginDeveloperForm"
                 che-name="login"
                 che-label-name="Login"
                 che-place-holder="Login of the user"
                  ng-model="loginController.username"
                  required
                  ng-maxlength="128">
        <div ng-message="required">A login is required.</div>
      </che-input>

      <che-input che-form="loginDeveloperForm"
                 che-name="password"
                 che-label-name="Password"
                 che-place-holder="Password of the user"
                  ng-model="loginController.password"
                  ng-keyup="$event.keyCode == 13 && loginController.submit()"
                  type="password"
                  required
                  ng-maxlength="128">
        <div ng-message="required">A password is required.</div>
      </che-input>

      <che-button-primary ng-click="loginController.submit()" che-button-title="Login"></che-button-primary>
      <div layout="column" layout-align="center center">
        <md-progress-circular ng-show="loginController.loginInProgress" class="md-hue-2"  md-mode="indeterminate" md-theme="default"></md-progress-circular>
        <div class="login-error-message" ng-show="loginController.error">
          {{loginController.error}}
        </div>
      </div>

    </ng-form>
  </che-panel>
</div>
